@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    user-select: none;
}

header {
    display: flex;
    padding: 25px;
}

.title {
    position: relative;
    margin: 0 auto;
    display: flex;
    vertical-align: center;
    text-align: center;
    font-size: 25px;
    font-weight: 700;
}


body {
    font-family: 'Roboto', sans-serif;
}

h1 {
    text-align: center;
    padding: 12px 0;
}


table {
    display: flex;
    flex-wrap: wrap;
    border: 3px solid rgb(150, 149, 149);
    width: 64%;
    margin: auto;
    border-radius: 6px;
}

tr {
    display: flex;
    width: 100%;
}

td {
    display: flex;
    width: 8.33%;
    outline: 1px solid #444;
    font-size: 2.4vw;
    justify-content: center;
    padding: 4px 0;
    background-color: rgba(76, 11, 141, 0.5);
    color: rgba(185, 185, 185, 0);
}

td:hover {
    background-color: rgba(0, 27, 100, 0.575);
}

td:active {
    color: rgb(255, 255, 255);
    font-weight: 800;
}

td:first-child {
    color: rgb(255, 255, 255);
}

tr:first-child td {
    color: rgba(30, 30, 30, 1);
}
