
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    user-select: none;
}

header {}

body{
    font-family: 'Roboto', sans-serif;
}

h1 {
    text-align: center;
    padding: 12px 0;
}


table {
    display: flex;
    flex-wrap: wrap;
    border: 3px solid #333;
    width: 64%;
    margin: auto;
    border-radius: 6px;
}

tr {
    display: flex;
    width: 100%;
}

td {
    display: flex;
    width: 8.33%;
    outline: 1px solid #444;
    font-size: 2.4vw;
    justify-content: center;
    padding: 4px 0;
    background-color: rgba(50, 0, 100, 0.5);
    color: rgba(30, 30, 30, 0);
}

td:hover {
    background-color: rgba(50, 0, 100, 0.4);
}

td:active {
    color: rgba(30, 30, 30, 0.8);
}

td:first-child {
    color: rgba(30, 30, 30, 1);
}

tr:first-child td {
    color: rgba(30, 30, 30, 1);
}
